<div class="row-container">
<div class="row">
  {% for column in include.data%}
  {% assign width = "s1"%}
    {% if column.width %}
      {% assign width = column.width %}
    {% endif %}
  <div class="column {{width}} {{column.style}}">
    {% if column.title %}
      <div class="column-header">
        <h3>{{column.title}}</h3>
      </div>
    {% endif %}
    {% if column.text %}
    <div class="column-content">
      {% for p in column.text %}
        <div class="{{p.color}}">
          {% if p.button%}
            <a class="button {{p.style}}" href="{{p.link}}">{{p.text}}</a>
          {% else %}

            {% if p.section %}
              {% for item in p.section %}
                <p class="text-item {{column.par}}"> {{item}} </p>
              {% endfor %}
            {% else %}
              {% if p.image %}
                <div class="image">
                  <img src="{{p.image}}">
                </div>
              {% endif %}
              {% if p.first %}
                {% if p.title %} <p>{{p.title}}</p> {% endif %}
                {% if p.subtitle %}
                  <h3>{{p.subtitle}}</h3>
                {% endif %}

                {% if p.footer%}
                  <div class="grid-info">
                    <p class="text-item p2"> {{p.footer}} </p>
                  </div>
                {% endif %}
                {% if p.info %}
                <div class="grid-info">

                  {% for item in p.info %}
                    {% if item.first %}
                      {% if item.type contains "button" or item.type contains "popup-trigger"%}
                        <a {% if item.link %}src="{{item.link}}"{% endif %} {% if item.type contains "popup-trigger"%} data-trigger="{{item.action}}"{% endif %}class="{{item.type}}" >
                          {{item.text}}
                        </a>
                      {% else %}
                        {% if column.style contains "info-listed" %}

                          <div class="grid-info-title">
                            <i class="material-icons-outlined {{item.icon-style}}">{{item.icon}}</i>
                            <div>
                              <span class="{{item.style}}">{{item.text}}</span>
                              <h3>{{item.title}}</h3>
                            </div>
                          </div>

                        {% else %}
                          <div class="{{item.type}}">
                            {{item.text}}
                          </div>
                        {% endif %}
                      {% endif %}
                    {% else %}
                    <p class="text-item p2"> {{item}} </p>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}

              {% else %}
                <p class="{{column.par}}">{{p}}</p>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
    </div>
  {% endfor %}
</div>
</div>