{% for item in include.data %}
  <div id="{{item.id}}" class="popup">
    <div class="popup-close">
      <i class="material-icons">close</i>
    </div>
    <div class="popup-container">
      <div class="popup-header">
        {% if item.image %}
        <div class="image image-circle">
          <img src="{{item.image}}">
        </div>
        {% endif %}
        <div>
          <h2>{{item.title}}</h2>
          {% if item.subtitle %}
          <p class="subtitle">{{item.subtitle}}</p>
          {% endif %}
        </div>

      </div>
      <div class="popup-content {{item.class}}">
        {% for info in item.content %}
        {% if info.title %}
          <h3>{{info.title}}</h3>
        {% endif %}
        {% if info.type contains "button" %}

            <a {% if info.link %} href="{{info.link}}"{% endif %} class="{{info.type}}" >
              {{info.text}}
              </a>


        {% else %}
          <p class="p2">{{info.text}}</p>
        {% endif %}

        {% endfor %}
      </div>

    </div>

  </div>
{% endfor %}